<div class="content">

	<h4>Introduction to Countries and Capitals App</h4>

	<div class="paragraph">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est illo aliquid, voluptas mollitia. Reiciendis expedita eveniet eius enim! Aperiam vero labore, harum adipisci ea eligendi provident quae autem neque error! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam dolor dignissimos temporibus, eligendi molestias modi, provident quibusdam sunt corporis molestiae nulla quidem aut. Sunt eligendi dolor architecto odit blanditiis atque!</p>
	</div>

 </div>

 <a href="#/countries"><div class="button">Browse Countries</div></a>